*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "indie Flower", cursive, sans-serif;
}

header{
    background-color: red;
}

main{
    background-color: green;
}

footer{
    background-color: yellow;
}

.full-screen{
    height: 100vh;
}

header > nav{
    position: absolute;
    right: 0;
    top: 0;
}

header > nav > button > a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

button{
    background-color: white;
    border-radius: 50%;
    font-family: 'Indie Flower';
    font-size: 1rem;
    font-weight: 900;
    margin: 1rem;
    padding: 1rem 1.5rem;  
    cursor: pointer;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 4rem;
    font-weight: 900;
    color: yellow;
}

section.third-article > h1{
    color: green;
}

.shoe{
    padding: 350px 0;
}




